name: cypress

on: [push, pull_request]

permissions:
  contents: write

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm run serve
          wait-on: http://localhost:8080/
          config-file: cypress.config.ts
          spec: "tests/e2e/**/*"
        env:
          CYPRESS_baseUrl: http://localhost:8080/
